* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    // overflow-y: hidden; 
    flex: 1;
  }
  
  .content {
    flex: 1;
    // padding: 20px;
  }
  
  @media (min-width: 768px) {
    .main-content {
      flex-direction: row;
    }
  }
  

  .sidebar {
    width: 8%; /* Width of the sidebar */
    background-color: #eef2ff;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: system-ui;
    color: #555; /* Grey color for icons and text */
  }


.kpi {
    background-color: #6b7280 !important;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #6b7280 !important;
    padding: 10px;
  }
  
  .sidebar-item:hover {
    background-color: #abafce;
    border-radius: 15px;
    border: 1px solid #abafce;

  }

  .submenu .sidebar-item:hover {
    background-color: #abafce;
    border-radius: 15px;
    border: 1px solid #abafce;
  }
  
  .sidebar-item span {
    margin-top: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
  }
  
  .schedule {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
    margin: 15px 35px;
  }
  
  .StopwatchWrapper {
    background-color: #dde1f3;
    border-radius: 15px;
    border: 1px solid #dde1f3;
    padding: 10px;
  }
  
  .Stopwatch {
    background-color: #abafce;
    border-radius: 15px;
    border: 1px solid #abafce;
    padding-left: 13px;
    padding-right: 13px;

  }
  
  .kpi {
    border-radius: 15px;
    border: 1px solid #737990;
    background-color: #737990;
    // padding: 10px;
  }

  .notification {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
  }
  
  .ProfileBox {
    margin-top: 165%; /* Pushes the profile icon to the bottom */
  }
  
  .profile .circle {
    margin-top: auto; /* Push profile icon to the bottom */
    padding: 10px 13px 10px 13px;
    background-color: #737990; /* Grey background for profile */
    border-radius: 50%;
    color: #fff;
  }
  .messagesMenu{
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
    margin: 15px 35px;
    padding: 10px;
  }
  
  .submenu .sidebar-item {
    background-color: #dde1f3;
    border-radius: 15px;
    border: 1px solid #dde1f3;
    padding: 10px;
  }

  
  /* Footer Styling */
  .footer {
    background-color: #fff;
    color: #aaa;
    text-align: center;
    padding: 10px;
    border: 1;
  }
  
  

  /* src/components/Header.css */
// .header {
//   background-color: #fff;
//   color: #444;
//   padding: 10px 50px;
//   display: flex;
//   align-items: center;
//   font-family: system-ui;
// }

.header{
  background-color: #eef2ff;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  font-family: system-ui;
  border: 1px solid #eef2ff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.header .logo {
 height: 50px;
 width: 50px;
}

.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.header nav ul li a:hover {
  text-decoration: underline;
}
.heading h2{
  margin-left: 10px;
  margin-top: 9px;
}

/*DropDown css*/
.dropdowncss{
  background: #abafce;
  border-color: #abafce;
  font-family: system-ui;
  color:#444;
  margin-left: 15px;
}

.contentWrapper{
     display: flex;
     position: relative;
     margin-left: 10%;
     margin-top: 30px;
}

.btnShift{
  font-family: system-ui;
}
.shiftCss{
  background: #abafce;
  border-color: #abafce;
  color:#444;
}

  
/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}

.searchBarWrapper {
  position: absolute;
  right: 40px;
  top: 20px;
}

.searchBar {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
