.p-datatable-wrapper {
    .p-datatable-table {
        .p-datatable-thead{
            background: #187bcd;
            color: #ffffff;
            height: 3.5rem;
            text-align: center;
            
            tr {
                border: 0.5px solid gray;
            }
            th {
                border-right: 0.5px solid gray;
                padding: 0 10px;
            }
        }
        .p-datatable-tbody {
            text-align: center;
            tr {
                height: 3rem;
                border-bottom: 0.5px solid gray;
            }
            td {
                padding: 0 10px;
                border-right: 0.5px solid gray;
            }
        }
        
    }
}